* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ebf9fb;
}

.box {
    width: 350px;
    background-color: #ffff;
    margin: 10rem auto;
    padding: 30px 20px;
    box-shadow: 0px 0px 100px 4px #d6d6d6;
}

h2 {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

li {
    list-style: none;
}

label {
    display: block;
    font-size: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

button {
    background: #2aa7e2;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}