h2 {
    text-align: center;
    font-size: 34px;
}

table {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #f2f5f7;
}

table tr th {
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

table,
th,
td {
    padding: 8px 20px;
    text-align: center;
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}